@model IEnumerable<Semester_Project_0._1.Models.ViewModels.InstructorVM>

@{
    ViewData["Title"] = "Instructor Menu";
}
<h4>Your Class List</h4>



@foreach (var InstructorVM in Model)
{
    <input id="instructureId" value="@InstructorVM.UserAccount.Id" class="form-control" hidden />
    <table class="table tabble-bordered table-striped" style="width:99%">
        <thread>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Duration
                </th>
                <th>
                    FirstClassDate
                </th>
                <th>
                    LastClassDate
                </th>
                <th>
                    Type
                </th>
                <th>
                    Options
                </th>

            </tr>
        </thread>
        <tbody>

            @foreach (var Rclass in InstructorVM.InstructorRecurringClassList)
            {


                <tr>
                    <!--width="10%"-->
                    <td>@Rclass.Title</td>
                    <td>@Rclass.Duration</td>
                    <td>@Rclass.FirstClassDate</td>
                    <td>@Rclass.LastClassDate</td>
                    <td>@Rclass.RecurringType</td>
                    <td>
                        @if (User.IsInRole(Semester_Project_0._1.Utility.Helper.Admin) || User.IsInRole(Semester_Project_0._1.Utility.Helper.SystemAdmin) || User.IsInRole(Semester_Project_0._1.Utility.Helper.Instructure))
                        {
                            <a asp-controller="" asp-action="Update" asp-route-id="@Rclass.Id" class="btn btn-primary mx-1">Update</a>
                            <a asp-controller="Class" asp-action="RecurringClassDelete" asp-route-id="@Rclass.Id" class="btn btn-danger mx-1" onclick="RClassDelete()">Delete</a>

                        }

                        <a asp-controller="Class" asp-action="RecurringClassInfo" asp-route-id="@Rclass.Id" class="btn btn-info mx-1">Info</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

}
<div>
    <div id="calendarInstructure"></div>
</div>
<input type="hidden" id="pageNo" value="3" />

<partial name="_AddEditClass" />