@model IEnumerable<Semester_Project_0._1.Models.RecurringClassInstent>
@{ 
    ViewData["Title"] = "Classes";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="row pt-6">
            <h2 class="text-primary">Class List</h2>
        </div>
        <div class="col-6 text-right">

        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {


<table class="table tabble-bordered table-striped" style="width:99%">
            <thread>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                        FirstClassDate
                    </th>
                    <th>
                        LastClassDate
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Options
                    </th>
                    
                </tr>
            </thread>
            <tbody>
                @foreach (var Rclass in Model)
                {

                <tr>
                    <!--width="10%"-->
                    <td>@Rclass.Title</td>
                    <td>@Rclass.Duration</td>
                    <td>@Rclass.FirstClassDate</td>
                    <td>@Rclass.LastClassDate</td>
                    <td>@Rclass.RecurringType</td>
                    <td>
                        @if (User.IsInRole(Semester_Project_0._1.Utility.Helper.Admin) || User.IsInRole(Semester_Project_0._1.Utility.Helper.SystemAdmin) || User.IsInRole(Semester_Project_0._1.Utility.Helper.Instructure))
                        {
                            <!--working hear-->
                            <a asp-controller="" asp-action="Update" asp-route-id="@Rclass.Id" class="btn btn-primary mx-1">Update</a>
                            <a asp-controller="" asp-action="Delete" asp-route-id="@Rclass.Id" class="btn btn-danger mx-1">Delete</a>

                        }
                        <a asp-controller="" asp-action="Enroll" asp-route-id="@Rclass.Id" class="btn btn-success mx-1">Enroll</a>
                        <a asp-controller="" asp-action="Info" asp-route-id="@Rclass.Id" class="btn btn-info mx-1">Info</a>
                    </td>
                </tr>

                    }
            </tbody>
        </table>
    }
    else
    {
        <p> No items in the database</p>
    }
</div>