@model Semester_Project_0._1.Models.ViewModels.RecurringClassInstentVM;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<input id="RCId" asp-for="recurringClassInstent.Id" hidden />
<div class="table">
    <div class=" row col-12">
        <div class=" float-left p-1 col-5">
            <h5>Class info</h5>
            <!--hidden feilds-->
            <input id="FirstClassDate" asp-for="recurringClassInstent.FirstClassDate" class="form-control" disabled hidden/>
            <input id="LastClassDate" asp-for="recurringClassInstent.LastClassDate" class="form-control" disabled hidden/>
            <input id="RecurringType" asp-for="recurringClassInstent.RecurringType" class="form-control" disabled hidden/>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="recurringClassInstent.Title"></label>
                </div>
                <div class="col-9">
                    <input id="Title" asp-for="recurringClassInstent.Title" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label>Instructer</label>
                </div>
                <div class="col-9">

                    @if (User.IsInRole(Semester_Project_0._1.Utility.Helper.Admin) || User.IsInRole(Semester_Project_0._1.Utility.Helper.SystemAdmin))
                    {


                        @Html.DropDownList("instructureId", new SelectList(ViewBag.InstuctureList, "Id", "FullName", Model.recurringClassInstent.InstructerId), new
                        { @class = "form-control select2", @onchange = "OnInstructerIdChange()" })
                    }
                    else
                    {
                        <input asp-for="recurringClassInstent.Instructer.Id" id="instructureId" hidden />
                        <input asp-for="recurringClassInstent.Instructer.FullName" class="form-control" disabled />
                    }
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="recurringClassInstent.Description"></label>
                </div>
                <div class="col-9">
                    <textarea id="Description" asp-for="recurringClassInstent.Description" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="recurringClassInstent.MaxNumberOfStudents"></label>
                </div>
                <div class="col-9">
                    <input id="MaxNumberOfStudents" asp-for="recurringClassInstent.MaxNumberOfStudents" class="form-control" onpaste="return false;" />
                </div>
            </div>
            <!---->
            <div class="form-group row">
                <div class="col-5">
                    <!--<a asp-controller="Class" asp-action="UpdateRCInfo" class="btn btn-primary mx-1">Update</a>-->

                    <button type="button" id="btnSubmit" class="btn btn-success" onclick="updateRC();">Update</button>
                </div>
            </div>

            <div class="row ">
                <!---->
                <div class="float-left cell ">
                    <div class="container">
                        <h5>List of Students</h5>
                        @if (Model.recurringClassInstent.StudentList == null)
                        {
                            <p class="row"> No students in this class</p>
                        }
                        else
                        {
                            <table id="StudentTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var SC in Model.StudentList)
                                    {
                                        <tr>
                                            <td>@SC.studentId</td>
                                            <td>@SC.student.StudentNameFirst @SC.student.StudentNameLast</td>
                                            <td><a asp-controller="Class" asp-action="StudentNotes" asp-route-id="@SC.id" class="btn btn-info mx-1">Notes</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>



        </div>
                <div class="float-left col-7">
                    <h5>List of Classes</h5>
                    @if (Model.Classlist.Count() <= 0)
                    {
                        <p> No classes in the database</p>
                    }
                    else
                    {

                        <div id="classTableDiv" runat="server">
                            <table id="classTable" class="table tabble-bordered table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Date</th>
                                        <th>Length </th>
                                        @if (User.IsInRole(Semester_Project_0._1.Utility.Helper.Instructure) || User.IsInRole(Semester_Project_0._1.Utility.Helper.Admin))
                                        {
                                            <th>Delete</th>
                                            <th>Edit</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var CI in Model.Classlist)
                                    {
                                        <tr>
                                            <td>@CI.Id</td>
                                            <td>@CI.StartDate</td>
                                            <td>@(CI.Duration/60) Hour(s)</td>
                                            @if (User.IsInRole(Semester_Project_0._1.Utility.Helper.Instructure) || User.IsInRole(Semester_Project_0._1.Utility.Helper.Admin))
                                            {
                                                <td>
                                                    <button type="button" id="btnDelete" class="btn btn-danger" onclick="onDeleteClass(@CI.Id);">Delete</button>
                                                </td>
                                                <td>
                                                    <button type="button" id="btnSubmit" class="btn btn-success" onclick="onSubmitForm();">Edit</button>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

            </div>


        </div>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="~/js/class-schedule.js"></script>
<div class=" badge-dark ">
    <div id="calendar2"></div>

</div>
<input type="hidden" id="pageNo" value="2" />
<partial name="_AddEditClass" />
